/*
    1.本规范用于ios版本
    2.设计稿基于750*1334px屏幕尺寸设计
    3.由于本项目引进了第三方ui组件mint-ui，而mint-ui内都是用的px为单位。
    因此为了兼容mint-ui里的单位，本项目中所有尺寸都按375px设计稿来写，也就是说所有尺寸都在750px设计稿基础上除以2
*/
//标准色
//重要1--用于按钮，按钮文字，选中文字，tab选中，进度条颜色
$impColOne: #10903d;
//重要2--头部渐变重色
$impColTwo: #24be5a;
//重要3--头部渐变轻色
$impColThree: #29db67;
//一般1--用于重要内容，标题文字，内容文字，确定文字
$black: #000000;
//一般2--用于副标题文字，内容文字
$normalColTwo: #757575;
//一般3--用于头部文字颜色，按钮文字颜色，页面底色
$white: #ffffff;
//较弱1--用于搜索底色，tab选中色，文字标头底色
$weakColOne: #fafafa;
//较弱2--用于内容分割线，tab切换分割，图片视频描边
$weakColTwo: #e8e8e8;
//较弱3--用于提示文字颜色，提示底色
$weakColThree: #ff0000;
//较弱4--用于选中点
$weakColFour: #00a2eb;

//标准字
//重要--用于头部，按钮上文字
$fsLarge: 18px;
//一般--用于标题性文字，tab切换文字
$fsMiddle: 14px;
//弱--用于主要文字内容，副标题文字或者提示，非重要内容
$fsSmall: 12px;